[submodule "web_stunting_be"]
	path = web_stunting_be
	url = https://github.com/BelajarPyramidReact/web_stunting_be
[submodule "web_stunting_fe"]
	path = web_stunting_fe
	url = https://github.com/BelajarPyramidReact/web_stunting_fe
